image: python:3.10

stages:
  - test
  - stress
  - stability
  - deploy

# --------------------------------------------------
# 1. FUNCTIONAL BASIC TEST
# --------------------------------------------------

functional_test:
  stage: test
  script:
    - pip install pandas numpy || true
    - python IMPLEMENTATION/pcb_one_click/demo.py IMPLEMENTATION/pcb_one_click/data.csv target > result.txt
  artifacts:
    when: always
    paths:
      - result.txt
  allow_failure: false



# --------------------------------------------------
# 2. CAUSAL SAFETY CERTIFICATION (MAIN TEST)
# --------------------------------------------------

causal_safety_certification:
  stage: stress
  script:
    - pip install pandas numpy || true
    - python IMPLEMENTATION/pcb_one_click/stress_test/stress_test_causal_safety2.py > stress_result.txt
  artifacts:
    when: always
    paths:
      - stress_result.txt
      - out/
  allow_failure: false


# --------------------------------------------------
# 3. STABILITY TEST (ROBUSTNESS / REPRODUCIBILITY)
# --------------------------------------------------

stability_test:
  stage: stress
  script:
    - pip install pandas numpy
    - python IMPLEMENTATION/pcb_one_click/stress_test/stress_test_causal_stability.py
  artifacts:
    when: always
    paths:
      - stability_result.txt
      - stability_out/


api_test:
  stage: test
  image: python:3.10
  script:
    - pip install -r IMPLEMENTATION/api/requirements_api.txt
    - timeout 15s uvicorn IMPLEMENTATION.api.causal_api_main:app --port 8000 --host 127.0.0.1 &
    - sleep 5
    - curl -f http://localhost:8000/health

deploy_api:
  stage: deploy
  image: python:3.10
  environment:
    name: production
  script:
    - pip install -r IMPLEMENTATION/api/requirements_api.txt
    - echo "Starting API for deploy validation..."
    - timeout 20s uvicorn IMPLEMENTATION.api.causal_api_main:app --host 0.0.0.0 --port 8000 &
    - sleep 5
    - curl -f http://localhost:8000/health
  only:
    - main


